NEXT_PUBLIC_APPWRITE_PROJECT_ID ="NEXT_PUBLIC_APPWRITE_PROJECT_ID"
NEXT_PUBLIC_APPWRITE_PROJECT_NAME ="NEXT_PUBLIC_APPWRITE_PROJECT_NAME"
NEXT_PUBLIC_APPWRITE_ENDPOINT ="NEXT_PUBLIC_APPWRITE_ENDPOINT"

NEXT_PUBLIC_APPWRITE_DATABASE_ID="NEXT_PUBLIC_APPWRITE_DATABASE_ID"
NEXT_PUBLIC_EVENTS_DATABASE_ID="NEXT_PUBLIC_EVENTS_DATABASE_ID"
NEXT_PUBLIC_EVENTS_COLLECTION_ID="NEXT_PUBLIC_EVENTS_COLLECTION_ID"
NEXT_PUBLIC_APPWRITE_STORAGE_BUCKET_ID="NEXT_PUBLIC_APPWRITE_STORAGE_BUCKET_ID"
NEXT_PUBLIC_APPWRITE_EVENTS_STORAGE_BUCKET_ID="NEXT_PUBLIC_APPWRITE_EVENTS_STORAGE_BUCKET_ID"
APPWRITE_API_KEY="APPWRITE_API_KEY"

ADMIN_API_TOKEN="ADMIN_API_TOKEN"